<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IPackageFragmentRoot"
            id="org.eclipsecon2012.jdt.populator.contribution1">
         <menu
               label="JDT Tutorial"
               path="additions"
               id="org.eclipsecon2012.jdt.populator.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Populate with sample classes"
               class="org.eclipsecon2012.jdt.populator.popup.actions.PopulateAction"
               menubarPath="org.eclipsecon2012.jdt.populator.menu1/group1"
               enablesFor="1"
               id="org.eclipsecon2012.jdt.populator.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
